<h1>{{title}}</h1>

<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/banner2.jpg" class="d-block w-100" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <h5 style="font-family: 'Anton', sans-serif;">Slide 1 Title</h5>
        <p>Slide 1 description</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/banner2.jpg" class="d-block w-100" alt="Second slide">
       <div class="carousel-caption d-none d-md-block">
        <h5 style="font-family: 'Anton', sans-serif;">Slide 2 Title</h5>
        <p>Slide 2 description</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>